/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* form css stylesheet */

h1 {
  font-size: 24px;
  color: white;
  text-align:center;
  padding: 20px;
}
.form-container {
  width: 162px;
  margin: 0 auto;
  background-color: darkgrey;
  opacity:0.9;
}
form > input {
  margin: 5px
}
.background {
  background-image: url(https://dl.dropboxusercontent.com/u/552918/toledo.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}