/* app css stylesheet */

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* form css stylesheet */
h1 {
  font-size: 24px;
  color: white;
  text-align:center;
  padding: 20px;
}
.form-container {
  width: 320px;
  background-color: lightgray;
  opacity:0.9;
  color: black;

}
.inner-form-container {
  width:712px;
  height:auto;
  margin: 0 auto;
  background-color: lightgray;
  opacity:0.9;
}
.inner-form-container > h4 {
 margin-left:15px;
  padding-bottom:10px;
  padding-top:10px;

}
form > input {
  margin: 5px;
  margin-left: 15px;
  border-radius:3px;
  border:none;
  width: 300px;
}
form > span {
  margin-left: 15px;
}
.support-bubble {
    position: relative;
    display: inline-block;
    background-image: url(https://dl.dropboxusercontent.com/u/552918/support-bubble.png);
    background-size: 248.5px 183px;
    background-repeat: no-repeat;
    width: 248.5px;
    height: 183px;
    left: 350px;
    top: -310px;
    float: left;
    opacity: 1;

}

.support-bubble.large {
    position: initial;
    display:block;
    float: inherit;
    background-image: url(https://dl.dropboxusercontent.com/u/552918/support-bubble.png);
    background-size:339px 250px;
    background-repeat:no-repeat;
    width:339px;
    height:250px;
    opacity:1;
    margin: 0 auto;
    color:white;

}

.logo {
    background-image: url(https://dl.dropboxusercontent.com/u/552918/logo.png);
    background-repeat: no-repeat;
    background-size: 164px 62px;
    width:164px;
    height:62px;
    z-index: 10000000;
    position: absolute;
    top:0px;
    right:0px;
}
.support-bubble > h4 {
  padding-top:15px;
  padding-left:20px;
}
.support-bubble.large > h4 {
    padding-top:45px;
}
.support-bubble > div {
  padding-top:0px;
  padding-left: 20px;
}
.support-bubble.large > div {
  width: 310px;
}
body {
  background-image: url(https://dl.dropboxusercontent.com/u/552918/toledo.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}
.send {
  background-color: gray;
  color:white;
}

table {
    background-color: white;
}
thead {
    background-color: #d3d3d3;
}


/* Mixins */
/* Bubbles */
.bubble-right {
    max-width: 15%;
    min-width: 15%;
    background-color: #dddddd;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    display: inline-block;
    margin-bottom: 2em;
    padding: 1em;
    position: relative;
}
.bubble-right:after {
    border-style: solid;
    content: "";
    position: absolute;
}
.bubble-right:after {
    border-color: transparent #dddddd;
    border-width: 0.75em 1em 0.75em 0;
    left: -0.96em;
    /* 1em - prevent distance*/
    top: 25%;
}
.bubble-left {
    max-width: 15%;
    min-width: 15%;
    background-color: #dddddd;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    display: inline-block;
    margin-bottom: 2em;
    padding: 1em;
    position: relative;
}
.bubble-left:after {
    border-style: solid;
    content: "";
    position: absolute;
}
.bubble-left:after {
    border-color: transparent #dddddd;
    border-width: 0.75em 0 0.75em 1em;
    right: -0.96em;
    /* 1em - prevent distance*/
    top: 25%;
}
.bubble-top {
    background-color: #dddddd;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    display: inline-block;
    margin-bottom: 2em;
    padding: 1em;
    position: relative;
}
.bubble-top:after {
    border-style: solid;
    content: "";
    position: absolute;
}
.bubble-top:after {
    border-color: #dddddd transparent;
    border-width: 0 0.75em 1em;
    left: 25%;
    top: -0.96em;
    /* 1em - prevent distance*/
}
.bubble-bottom {
    background-color: #dddddd;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    display: inline-block;
    margin-bottom: 2em;
    padding: 1em;
    position: relative;
}
.bubble-bottom:after {
    border-style: solid;
    content: "";
    position: absolute;
}
.bubble-bottom:after {
    border-color: #dddddd transparent;
    border-width: 1em 0.75em 0;
    bottom: -0.96em;
    /* 1em - prevent distance*/
    left: 25%;
}

.table {
    width: 80%;
    max-width: 80%;
    margin-bottom: 20px;
    float: left;
}

.starter-template {
    height: 1000px;
    width: 80%;
    float: left;
}

.sidebar form {
    max-width: 15%;
    min-width: 15%;
    float: left;
    position: relative;
    left: -30px;
}

.sidebar {
    margin-top: 100px;

}
